<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %> 
</head>
<style>
    .active{
        color: black;
    }
</style>
<body>
    <%- include('./partials/navbar') %>
    <div class="container">
        <h1>Main Page</h1>
    </div>
</body>
</html>